:root {
  --blue: #19f;
  --white: #ffffff;
  --black: #333;
  --sky_blue: #abcdef
}

/* Inizio CSS da rimuovere*/

body{
  /*width: 50%;*/
  margin: 0;
}

header {
  text-align: center;

}

header h1 {
  font-size: 100px;
  color: #2c3e50;
  font-weight: 300;
}

.input_test {
  font-size: 20px;
  color: var(--black);
  width:  100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--sky_blue);
  padding: 5px;
}

.task {
  background-color: var(--sky_blue);
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: var(--black);
  font-weight: 500;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: var(--black);
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: var(--black);
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px ;
}

.button.selected{
  color: white;
  background-color: var(--blue);
}

.button.clear {
  float: right;
  color: white;
  background-color: #ee1630;
  width: 170px;
}

/*** CSS da non rimuovere ***/
.form {
  position: relative;
  background: var(--white);
  padding: 15px;
}

.form .input {
  position: relative;
  width: 100%;
  padding: 0;
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: var(--black);
  font-weight: 500;
}

.form .input label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: 20px;
  border-left: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  font-size: 13px;
  line-height: 1.15em;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--white);
  transition: .3s;
}
.form .input.focus label {
  background: var(--blue);
  color: var(--white);
}

.form .input [type='text'] {
  margin: 0;
  background: transparent;
  border: 0;
  width: 100%;
  color: inherit;
  padding: 15px 10px 13px 10px;
  font-size: 14px;
  outline: 0;
}

.body-container{
    margin-right: 20%;
    margin-left: 20%;
}

.tab-container {
  text-align: center;
}

.nav{
  background-color: var(--black);
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: .25em;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}

.nav li.active {
  color: var(--blue);
}

.nav li:hover {
  color: var(--blue);
}

.button-about {
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  padding: 3px 15px;
  border-radius: 3px;
  font-weight: 500;
}